.wrapper {
  position: sticky;
  display: flex;
  height: fit-content;
  flex-direction: column;
  top: 155px;
  margin-top: 9rem;
  gap: 1rem;
}

.SidebarButton {
  text-align: left;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border-width: 0 0 2px 0;
  border-style: dotted;
  border-color: rgba(150, 150, 150, 0.5);
  text-wrap: nowrap;
  font-size: medium;
  background-color: white;
  transition-duration: 0.4s;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.arrow {
  margin-left: auto;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  color: rgba(150, 150, 150, 0.5);
  font-size: 2em;
  font-weight: bold;
}

.SidebarButton:hover .arrow {
  opacity: 1;
}
