.quote {
  background: white;
  padding: 2rem 2rem;
  border: 2px solid rgb(100, 100, 100);
  overflow: hidden;
  position: relative;
}

.quotation {
  position: relative;
  z-index: 1;
  font-weight: 500;
}

.quotationMark {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-40%);
  color: rgba(150, 150, 150, 0.5);
  font-size: 10rem;
}
