.button {
  font-size: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.button:hover {
  background: white !important;
  color: black !important;
}