.wrapper {
  width: 80%;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .wrapper {
    width: 90%;
  }
}
