.header {
  width: 100%;
  transition: background 400ms ease-in-out, height 200ms ease-in-out;
  z-index: 100;
}

.contentWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 2rem;
}

.buttons {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

.headerlogo {
  height: 35%;
}

@media screen and (max-width: 750px) {
  .buttons {
    display: none;
  }
  .contentWrapper {
    justify-content: center;
  }
}
