.footer {
  height: fit-content;
  padding: 2rem 0;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(150, 150, 150, 0.5);
}

.footerButton {
  flex-direction: column;
  display: block;
}

.footerButton > button {
  position: relative;
  margin-top: 1rem;
}
